body{
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    background-color: #E6BAF8;
}
li{
    list-style-type: none;
}
ul div{
    display: flex;
}
ul div button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.feito{
    background-color: green;
}
.naoFeito{
    background-color: white;
}